@import url('https://fonts.googleapis.com/css?family=Mulish:200,300,400,500,600,700,800,900,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
  body {  
    font-family:Mulish, sans-serif;
    color:rgb(30, 40, 80);
  }  
* { 
    box-sizing: border-box;
} 

html { 
    padding: 0px; 
    margin: 0px; 
    width: 100%; 
    font-family: Mulish, sans-serif; 
    color: rgb(30, 40, 80); 
    overflow-x: hidden;
} 

:root { 
    --toastify-color-info: #3498db; 
    --toastify-color-success: #07bc0c; 
    --toastify-color-warning: #f1c40f; 
    --toastify-color-error: #e74c3c; 
    --toastify-icon-color-info: var(--toastify-color-info); 
    --toastify-icon-color-success: var(--toastify-color-success); 
    --toastify-icon-color-warning: var(--toastify-color-warning); 
    --toastify-icon-color-error: var(--toastify-color-error); 
    --toastify-color-progress-info: var(--toastify-color-info); 
    --toastify-color-progress-success: var(--toastify-color-success); 
    --toastify-color-progress-warning: var(--toastify-color-warning); 
    --toastify-color-progress-error: var(--toastify-color-error);
} 

:root { 
    --hs-beacon-v-offset: 40px; 
    --hs-beacon-h-offset-right: 40px; 
    --hs-beacon-h-offset-left: initial; 
    --hs-beacon-window-v-offset: calc( var(--hs-beacon-v-offset) + 60px + 15px ); 
    --hs-beacon-notifications-v-offset: calc( var(--hs-beacon-v-offset) + 60px ); 
    --hs-beacon-window-h-offset-right: var(--hs-beacon-h-offset-right); 
    --hs-beacon-window-h-offset-left: var(--hs-beacon-h-offset-left); 
    --hs-beacon-notifications-h-offset-right: calc( var(--hs-beacon-h-offset-right) - 11px ); 
    --hs-beacon-notifications-h-offset-left: calc( var(--hs-beacon-h-offset-left) - 11px );
} 

:root { 
    --hsds-attachment-color-removeButton-hover: var(--hsds-color-pink-1000); 
    --hsds-attachment-color-removeButton-borderHover: var(--hsds-color-pink-900); 
    --hsds-attachment-color-error: var(--hsds-color-red-500); 
    --hsds-badge-color-default: var(--hsds-color-charcoal-200); 
    --hsds-button-color-blue-main: var(--hsds-color-blue-500); 
    --hsds-button-color-blue-hover: var(--hsds-color-blue-600); 
    --hsds-button-color-blue-outline-border: var(--hsds-color-blue-500); 
    --hsds-button-color-blue-outline-borderHover: var(--hsds-color-blue-500); 
    --hsds-button-color-blue-outline-text: var(--hsds-color-blue-600); 
    --hsds-button-color-blue-outline-textHover: var(--hsds-color-blue-700); 
    --hsds-button-color-blue-outline-hover: var(--hsds-color-blue-100); 
    --hsds-button-color-blue-outline-hoverIconOnly: var(--hsds-color-blue-200); 
    --hsds-button-color-blue-outline-textSeamlessHover: var( --hsds-color-blue-800 ); 
    --hsds-button-color-red-main: var(--hsds-color-pink-950); 
    --hsds-button-color-red-hover: var(--hsds-color-pink-1000); 
    --hsds-button-color-red-outline-border: var(--hsds-color-pink-900); 
    --hsds-button-color-red-outline-borderHover: var(--hsds-color-pink-900); 
    --hsds-button-color-red-outline-text: var(--hsds-color-pink-950); 
    --hsds-button-color-red-outline-textHover: var(--hsds-color-pink-1000); 
    --hsds-button-color-red-outline-hover: var(--hsds-color-pink-100); 
    --hsds-button-color-red-outline-hoverIconOnly: var(--hsds-color-pink-200); 
    --hsds-button-color-red-outline-textSeamlessHover: var( --hsds-color-pink-1000 ); 
    --hsds-button-color-green-main: var(--hsds-color-green-750); 
    --hsds-button-color-green-hover: var(--hsds-color-green-800); 
    --hsds-button-color-green-outline-border: var(--hsds-color-green-500); 
    --hsds-button-color-green-outline-borderHover: var(--hsds-color-green-500); 
    --hsds-button-color-green-outline-text: var(--hsds-color-green-750); 
    --hsds-button-color-green-outline-textHover: var(--hsds-color-green-800); 
    --hsds-button-color-green-outline-hover: var(--hsds-color-green-100); 
    --hsds-button-color-green-outline-hoverIconOnly: var(--hsds-color-green-200); 
    --hsds-button-color-green-outline-textSeamlessHover: var( --hsds-color-green-900 ); 
    --hsds-button-color-grey-main: var(--hsds-color-charcoal-400); 
    --hsds-button-color-grey-hover: var(--hsds-color-charcoal-500); 
    --hsds-button-color-grey-outline-border: var(--hsds-color-grey-700); 
    --hsds-button-color-grey-outline-borderHover: var(--hsds-color-grey-800); 
    --hsds-button-color-grey-outline-text: var(--hsds-color-charcoal-400); 
    --hsds-button-color-grey-outline-textHover: var(--hsds-color-charcoal-500); 
    --hsds-button-color-grey-outline-hover: var(--hsds-color-grey-200); 
    --hsds-button-color-grey-outline-hoverIconOnly: var(--hsds-color-grey-300); 
    --hsds-button-color-grey-outline-textSeamlessHover: var( --hsds-color-charcoal-800 ); 
    --hsds-button-color-yellow-main: var(--hsds-color-orange-600); 
    --hsds-button-color-yellow-hover: var(--hsds-color-orange-700); 
    --hsds-button-color-yellow-outline-border: var(--hsds-color-yellow-400); 
    --hsds-button-color-yellow-outline-borderHover: var(--hsds-color-yellow-400); 
    --hsds-button-color-yellow-outline-text: var(--hsds-color-orange-600); 
    --hsds-button-color-yellow-outline-textHover: var(--hsds-color-orange-700); 
    --hsds-button-color-yellow-outline-hover: var(--hsds-color-yellow-100); 
    --hsds-button-color-yellow-outline-hoverIconOnly: var( --hsds-color-yellow-100 ); 
    --hsds-button-color-yellow-outline-textSeamlessHover: var( --hsds-color-orange-700 ); 
    --hsds-button-color-disabled-main: var(--hsds-color-grey-500); 
    --hsds-button-color-disabled-outline-border: var(--hsds-color-grey-600); 
    --hsds-button-color-disabled-outline-text: var(--hsds-color-grey-800); 
    --hsds-datePicker-color-range-background: var(--hsds-color-blue-200); 
    --hsds-datePicker-color-range-selectedBackground: var(--hsds-color-blue-500); 
    --hsds-datePicker-color-range-text: var(--hsds-color-blue-500); 
    --hsds-datePicker-color-range-textHover: var(--hsds-color-blue-600); 
    --hsds-datePicker-color-current-background: var(--hsds-color-grey-300); 
    --hsds-datePicker-color-current-text: var(--hsds-color-charcoal-700); 
    --hsds-floatingBar-color-background: var(--hsds-color-charcoal-800); 
    --hsds-floatingBar-color-button-iconDefault: var(--hsds-color-charcoal-200); 
    --hsds-floatingBar-color-button-backgroundHover: var( --hsds-color-charcoal-600 ); 
    --hsds-floatingBar-color-divider: var(--hsds-color-charcoal-500); 
    --hsds-statusBar-color-light-error-border: var(--hsds-color-red-300); 
    --hsds-statusBar-color-light-info-border: var(--hsds-color-blue-300); 
    --hsds-statusBar-color-light-success-border: var(--hsds-color-green-300); 
    --hsds-statusBar-color-light-warning-border: var(--hsds-color-yellow-300); 
    --hsds-statusBar-color-bold-error-border: var(--hsds-color-red-600); 
    --hsds-statusBar-color-bold-error-button: var(--hsds-color-red-700); 
    --hsds-statusBar-color-bold-info-border: var(--hsds-color-blue-600); 
    --hsds-statusBar-color-bold-info-button: var(--hsds-color-blue-700); 
    --hsds-statusBar-color-bold-success-border: var(--hsds-color-green-600); 
    --hsds-statusBar-color-bold-success-button: var(--hsds-color-green-700); 
    --hsds-statusBar-color-bold-warning-border: var(--hsds-color-yellow-600); 
    --hsds-statusBar-color-bold-warning-button: var(--hsds-color-yellow-700); 
    --hsds-statusDot-color-light-default: var(--hsds-color-grey-600); 
    --hsds-statusDot-color-light-active: var(--hsds-color-green-500); 
    --hsds-statusDot-color-light-inactive: var(--hsds-color-grey-600); 
    --hsds-statusDot-color-light-offline: var(--hsds-color-red-500); 
    --hsds-statusDot-color-light-busy: var(--hsds-color-yellow-500); 
    --hsds-statusDot-color-light-custom: var(--hsds-color-purple-400); 
    --hsds-statusDot-color-dark-default: var(--hsds-color-grey-600); 
    --hsds-statusDot-color-dark-active: var(--hsds-color-green-500); 
    --hsds-statusDot-color-dark-inactive: var(--hsds-color-grey-600); 
    --hsds-statusDot-color-dark-offline: var(--hsds-color-red-500); 
    --hsds-statusDot-color-dark-busy: var(--hsds-color-yellow-500); 
    --hsds-statusDot-color-dark-custom: var(--hsds-color-purple-400); 
    --hsds-switchComponent-color-error: var(--hsds-color-pink-900); 
    --hsds-verificationCode-color-error: var(--hsds-color-pink-900); 
    --hsds-color-red-200: #ffe3e2; 
    --hsds-color-red-300: #ffa2a2; 
    --hsds-color-red-500: #e52f28; 
    --hsds-color-red-600: #d21b14; 
    --hsds-color-red-700: #ba1f19; 
    --hsds-color-red-default: var(--hsds-color-red-500); 
    --hsds-color-red-accent: var(--hsds-color-red-500); 
    --hsds-color-purple-400: #a3a4f3; 
    --hsds-color-purple-500: #7e80e7; 
    --hsds-color-purple-default: var(--hsds-color-purple-500); 
    --hsds-color-purple-accent: var(--hsds-color-purple-500); 
    --hsds-color-orange-500: #ff9139; 
    --hsds-color-orange-600: #e87800; 
    --hsds-color-orange-700: #c76400; 
    --hsds-color-orange-default: var(--hsds-color-orange-500); 
    --hsds-color-orange-accent: var(--hsds-color-orange-500); 
    --hsds-color-blue-100: #f3fbff; 
    --hsds-color-blue-200: #d6edff; 
    --hsds-color-blue-300: #a0d4ff; 
    --hsds-color-blue-500: #1292ee; 
    --hsds-color-blue-600: #0077cc; 
    --hsds-color-blue-700: #005ca4; 
    --hsds-color-blue-800: #034077; 
    --hsds-color-blue-default: var(--hsds-color-blue-500); 
    --hsds-color-blue-accent: var(--hsds-color-blue-500); 
    --hsds-color-charcoal-200: #93a1b0; 
    --hsds-color-charcoal-300: #748494; 
    --hsds-color-charcoal-400: #556575; 
    --hsds-color-charcoal-500: #405261; 
    --hsds-color-charcoal-600: #314351; 
    --hsds-color-charcoal-700: #253642; 
    --hsds-color-charcoal-800: #1d2b36; 
    --hsds-color-charcoal-default: var(--hsds-color-charcoal-500); 
    --hsds-color-charcoal-accent: var(--hsds-color-charcoal-500); 
    --hsds-color-ash-500: #d5dce1; 
    --hsds-color-ash-default: var(--hsds-color-ash-500); 
    --hsds-color-ash-accent: var(--hsds-color-ash-500); 
    --hsds-color-grey-200: #f9fafa; 
    --hsds-color-grey-300: #f1f3f5; 
    --hsds-color-grey-400: #e5e9ec; 
    --hsds-color-grey-500: #d5dce1; 
    --hsds-color-grey-600: #c5ced6; 
    --hsds-color-grey-700: #b7c2cc; 
    --hsds-color-grey-800: #a5b2bd; 
    --hsds-color-grey-default: var(--hsds-color-grey-500); 
    --hsds-color-grey-accent: var(--hsds-color-grey-500); 
    --hsds-color-yellow-100: #fff9ef; 
    --hsds-color-yellow-200: #fff2d7; 
    --hsds-color-yellow-300: #ffe7b8; 
    --hsds-color-yellow-400: #fdd88e; 
    --hsds-color-yellow-500: #ffc555; 
    --hsds-color-yellow-600: #fab347; 
    --hsds-color-yellow-700: #e89635; 
    --hsds-color-yellow-default: var(--hsds-color-yellow-500); 
    --hsds-color-yellow-accent: var(--hsds-color-yellow-500); 
    --hsds-color-green-100: #f5fff9; 
    --hsds-color-green-200: #e3fbee; 
    --hsds-color-green-300: #c2f0d7; 
    --hsds-color-green-500: #56c288; 
    --hsds-color-green-600: #39ac6e; 
    --hsds-color-green-700: #268c55; 
    --hsds-color-green-750: #248451; 
    --hsds-color-green-800: #106236; 
    --hsds-color-green-900: #003c1c; 
    --hsds-color-green-default: var(--hsds-color-green-500); 
    --hsds-color-green-accent: var(--hsds-color-green-500); 
    --hsds-color-pink-100: #fff9fb; 
    --hsds-color-pink-200: #ffeef1; 
    --hsds-color-pink-500: #ffb3c3; 
    --hsds-color-pink-900: #f23459; 
    --hsds-color-pink-950: #e9074b; 
    --hsds-color-pink-1000: #c5003b; 
    --hsds-color-pink-default: var(--hsds-color-pink-500); 
    --hsds-color-pink-accent: var(--hsds-color-pink-500); 
    --hsds-color-lavender-500: #9fa6ff; 
    --hsds-color-lavender-default: var(--hsds-color-lavender-500); 
    --hsds-color-lavender-accent: var(--hsds-color-lavender-500); 
    --hsds-color-indigo-500: #527ceb; 
    --hsds-color-indigo-default: var(--hsds-color-indigo-500); 
    --hsds-color-indigo-accent: var(--hsds-color-indigo-500); 
    --hsds-color-whaletail-500: #8aabf1; 
    --hsds-color-whaletail-default: var(--hsds-color-whaletail-500); 
    --hsds-color-whaletail-accent: var(--hsds-color-whaletail-500); 
    --hsds-color-link-default: var(--hsds-color-blue-600); 
    --hsds-color-link-base: var(--hsds-color-blue-600); 
    --hsds-color-link-hover: var(--hsds-color-blue-500); 
    --hsds-color-link-active: var(--hsds-color-blue-500); 
    --hsds-color-link-focus: var(--hsds-color-blue-500); 
    --hsds-color-link-disabled: var(--hsds-color-grey-800); 
    --hsds-color-text-subtle: var(--hsds-color-charcoal-500); 
    --hsds-color-text-slightlyMuted: var(--hsds-color-charcoal-400); 
    --hsds-color-text-muted: var(--hsds-color-charcoal-300); 
    --hsds-color-text-faint: var(--hsds-color-charcoal-200); 
    --hsds-color-text-extraMuted: var(--hsds-color-grey-600); 
    --hsds-color-border-default: var(--hsds-color-grey-400); 
    --hsds-color-border-divider: var(--hsds-color-grey-300); 
    --hsds-color-border-ui-default: var(--hsds-color-grey-500); 
    --hsds-color-border-ui-dark: var(--hsds-color-grey-600); 
    --hsds-color-state-danger-default: var(--hsds-color-state-error-default); 
    --hsds-color-state-danger-backgroundColor: var( --hsds-color-state-error-backgroundColor ); 
    --hsds-color-state-danger-backgroundLight: var( --hsds-color-state-error-backgroundColor ); 
    --hsds-color-state-danger-backgroundDark: var( --hsds-color-state-error-borderColor ); 
    --hsds-color-state-danger-borderColor: var( --hsds-color-state-error-borderColor ); 
    --hsds-color-state-danger-icon: var(--hsds-color-state-error-borderColor); 
    --hsds-color-state-danger-color: var(--hsds-color-state-error-borderColor); 
    --hsds-color-state-danger-text: var(--hsds-color-state-error-borderColor); 
    --hsds-color-state-error-default: var(--hsds-color-red-500); 
    --hsds-color-state-error-backgroundColor: var(--hsds-color-red-200); 
    --hsds-color-state-error-backgroundLight: var(--hsds-color-red-200); 
    --hsds-color-state-error-backgroundDark: var(--hsds-color-red-500); 
    --hsds-color-state-error-borderColor: var(--hsds-color-red-500); 
    --hsds-color-state-error-icon: var(--hsds-color-red-500); 
    --hsds-color-state-error-color: var(--hsds-color-red-500); 
    --hsds-color-state-error-text: var(--hsds-color-red-500); 
    --hsds-color-state-info-default: var(--hsds-color-blue-500); 
    --hsds-color-state-info-backgroundColor: var(--hsds-color-blue-200); 
    --hsds-color-state-info-backgroundLight: var(--hsds-color-blue-200); 
    --hsds-color-state-info-backgroundDark: var( --hsds-color-state-info-borderColor ); 
    --hsds-color-state-info-borderColor: var(--hsds-color-blue-500); 
    --hsds-color-state-info-icon: var(--hsds-color-blue-500); 
    --hsds-color-state-info-color: var(--hsds-color-blue-500); 
    --hsds-color-state-info-text: var(--hsds-color-blue-500); 
    --hsds-color-state-success-default: var(--hsds-color-green-500); 
    --hsds-color-state-success-backgroundColor: var(--hsds-color-green-200); 
    --hsds-color-state-success-backgroundLight: var(--hsds-color-green-200); 
    --hsds-color-state-success-backgroundDark: var( --hsds-color-state-success-borderColor ); 
    --hsds-color-state-success-borderColor: var(--hsds-color-green-500); 
    --hsds-color-state-success-icon: var(--hsds-color-green-500); 
    --hsds-color-state-success-color: var(--hsds-color-green-500); 
    --hsds-color-state-success-text: var(--hsds-color-green-500); 
    --hsds-color-state-warning-default: var(--hsds-color-yellow-500); 
    --hsds-color-state-warning-backgroundColor: var(--hsds-color-yellow-200); 
    --hsds-color-state-warning-backgroundLight: var(--hsds-color-yellow-200); 
    --hsds-color-state-warning-backgroundDark: var( --hsds-color-state-warning-borderColor ); 
    --hsds-color-state-warning-borderColor: var(--hsds-color-yellow-500); 
    --hsds-color-state-warning-icon: var(--hsds-color-yellow-500); 
    --hsds-color-state-warning-color: var(--hsds-color-yellow-500); 
    --hsds-color-state-warning-text: var(--hsds-color-yellow-500); 
    --hsds-color-focusRing-default-innerColor: var(--hsds-color-blue-500); 
    --hsds-color-focusRing-default-outerColor: var(--hsds-color-blue-500); 
    --hsds-color-focusRing-default-innerColorOverDark: var(--hsds-color-blue-500); 
    --hsds-color-focusRing-default-outerColorOverDark: var(--hsds-color-blue-500); 
    --hsds-color-focusRing-error-innerColor: var( --hsds-color-state-error-borderColor ); 
    --hsds-color-focusRing-error-outerColor: var( --hsds-color-state-error-borderColor ); 
    --hsds-color-focusRing-error-innerColorOverDark: var( --hsds-color-state-error-borderColor ); 
    --hsds-color-focusRing-error-outerColorOverDark: var( --hsds-color-state-error-borderColor ); 
    --hsds-color-focusRing-warning-innerColor: var( --hsds-color-state-warning-borderColor ); 
    --hsds-color-focusRing-warning-outerColor: var( --hsds-color-state-warning-borderColor ); 
    --hsds-color-focusRing-warning-innerColorOverDark: var( --hsds-color-state-warning-borderColor ); 
    --hsds-color-focusRing-warning-outerColorOverDark: var( --hsds-color-state-warning-borderColor ); 
    --hsds-color-focusRing-success-innerColor: var( --hsds-color-state-success-borderColor ); 
    --hsds-color-focusRing-success-outerColor: var( --hsds-color-state-success-borderColor ); 
    --hsds-color-focusRing-success-innerColorOverDark: var( --hsds-color-state-success-borderColor ); 
    --hsds-color-focusRing-success-outerColorOverDark: var( --hsds-color-state-success-borderColor ); 
    --HSDSGlobalFontFamily: "Aktiv Grotesk","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
    --HSDSGlobalFontSize: 13px;
} 

body { 
    padding: 0px; 
    margin: 0px; 
    width: 100%; 
    font-family: Mulish, sans-serif; 
    color: rgb(30, 40, 80); 
    overflow-x: hidden;
} 

:host { 
    all: initial;
} 

.bJOggl { 
    min-height: calc(100vh - 64px); 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    -webkit-box-align: center; 
    align-items: center; 
    margin-top: 64px;
} 

p { 
    font-size: 17px; 
    line-height: 22px;
} 

.hsds-beacon { 
    box-sizing: border-box; 
    font-family: var(--HSDSGlobalFontFamily); 
    font-size: var(--HSDSGlobalFontSize);
} 

.jDrzKG { 
    background-color: white; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    width: 100%; 
    height: 62px; 
    display: flex; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    -webkit-box-align: center; 
    align-items: center; 
    padding-left: 26px; 
    padding-right: 26px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0px; 
    z-index: 3;
} 

.lfpokC { 
    width: 100%; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-flex: 1; 
    flex-grow: 1;
} 

.buWDT { 
    width: 100%; 
    margin-top: 60px;
} 

.hsds-beacon *  { 
    box-sizing: border-box;
} 

.hsds-beacon * , .hsds-beacon ::before, .hsds-beacon ::after { 
    box-sizing: border-box;
} 

.hsds-beacon *, .hsds-beacon ::before, .hsds-beacon ::after { 
    box-sizing: border-box;
} 

button { 
    border-radius: 98px; 
    border: 0px; 
    font-family: Mulish, sans-serif; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    cursor: pointer; 
    color: white; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center;
} 

.cHPyiy { 
    display: flex; 
    flex: 1 1 0%; 
    -webkit-box-pack: start; 
    justify-content: flex-start; 
    margin-top: -4px;
} 

.bqrhQP { 
    display: flex; 
    flex: 1 1 0%; 
    -webkit-box-pack: center; 
    justify-content: center;
} 

.fKgWUe { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    flex: 1 1 0%; 
    -webkit-box-pack: end; 
    justify-content: flex-end;
} 

.dRmQIp { 
    flex: 1 1 0%; 
    display: flex; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 100%; 
    max-width: 2000px; 
    padding-left: 14vw; 
    padding-right: 14vw;
} 

hr { 
    border-top: 1px solid rgb(229, 229, 229); 
    width: 100%;
} 

.dKsSMZ { 
    display: flex; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    -webkit-box-align: center; 
    align-items: center; 
    padding: 20px 26px;
} 

.hsds-beacon .dkxqZi  { 
    bottom: 0px; 
    content: ""; 
    height: 400px; 
    pointer-events: none; 
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; 
    width: 400px; 
    will-change: left, right, background, opacity; 
    background: radial-gradient(at right bottom, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0) 75%); 
    opacity: 0; 
    position: fixed; 
    z-index: 1050; 
    right: 0px;
} 

.hsds-beacon .itSWDc  { 
    bottom: var(--hs-beacon-window-v-offset); 
    right: var(--hs-beacon-window-h-offset-right); 
    left: var(--hs-beacon-window-h-offset-left); 
    position: fixed; 
    width: 350px; 
    min-height: 250px; 
    max-height: 650px; 
    border-radius: 4px; 
    overflow: visible; 
    opacity: 1; 
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 30px 0px, rgba(0, 0, 0, 0.05) 0px 3px 3px 0px; 
    display: none; 
    z-index: 1050; 
    height: calc( 100vh - var(--hs-beacon-window-v-offset) - 20px - 0px );
} 

.hsds-beacon .itSWDc.BeaconContainer-exit-done  { 
    display: none;
} 

.hsds-beacon .dvFwfE  { 
    border: none; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 7px; 
    position: fixed; 
    top: auto; 
    transition: box-shadow 250ms ease 0s, opacity 0.4s ease 0s, scale 1000ms ease-in-out 0s, transform 0.2s ease-in-out 0s; 
    bottom: var(--hs-beacon-v-offset,40); 
    right: var(--hs-beacon-h-offset-right,40); 
    left: var(--hs-beacon-h-offset-left,initial);
} 

a { 
    text-decoration: none;
} 

a { 
    color: rgb(30, 40, 80);
} 

.jbNMdQ { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center;
} 

.bqrhQP > *  { 
    margin-left: 25px; 
    margin-right: 25px;
} 

.kcPXeb { 
    color: rgb(72, 77, 254); 
    font-weight: bold;
} 

.dUkoml { 
    color: rgb(30, 40, 80);
} 

.eJTGYJ { 
    width: 100%; 
    padding-top: 100px; 
    padding-bottom: 100px;
} 

.jwruJN { 
    position: relative; 
    padding-top: 220px; 
    padding-bottom: 140px; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    flex-direction: column;
} 

.gFgCTi { 
    display: flex; 
    flex: 2 1 0%; 
    -webkit-box-pack: start; 
    justify-content: flex-start; 
    color: rgb(149, 162, 186);
} 

.hlNqBc { 
    display: flex; 
    flex: 6 1 0%; 
    -webkit-box-pack: center; 
    justify-content: center;
} 

.cnDYYi { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    flex: 2 1 0%; 
    -webkit-box-pack: start; 
    justify-content: flex-start;
} 

.hsds-beacon .itSWDc iframe  { 
    background: transparent !important; 
    border: 0px !important; 
    border-radius: 4px !important; 
    inset: 0px !important; 
    height: 100% !important; 
    position: absolute !important; 
    width: 100% !important; 
    color-scheme: light !important;
} 

.hsds-beacon .dvFwfE iframe  { 
    border: none; 
    height: 100%; 
    width: 100%; 
    color-scheme: light !important;
} 

.iVsNNl { 
    background-color: rgb(107, 111, 253); 
    color: white; 
    font-size: 16px; 
    padding: 14px 60px; 
    transition: all 0.3s ease 0s; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center;
} 

.dyouRe { 
    border: 2px solid rgb(72, 77, 254); 
    background: rgb(251, 251, 252); 
    color: rgb(72, 77, 254); 
    font-size: 16px; 
    padding: 6px 34px;
} 

.iVsNNl:hover:enabled { 
    background: rgb(72, 77, 254); 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.dyouRe:hover:enabled { 
    background: rgb(251, 251, 252);
} 

.kSlYPc { 
    position: relative; 
    width: 100%;
} 

.caNshA { 
    background: rgba(240, 240, 243, 0.3); 
    border-radius: 0px 0px 50px 50px; 
    position: absolute; 
    width: 120%; 
    height: 100%; 
    top: 0px; 
    z-index: -2;
} 

h1 { 
    font-style: normal; 
    font-size: 50px; 
    line-height: 56px; 
    letter-spacing: 0.2px; 
    margin-bottom: 30px; 
    text-align: center;
} 

.lctRqf { 
    margin-top: 0px;
} 

.fvYilE { 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    max-width: 700px;
} 

.jqzpfD { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
} 

.kEVYTZ { 
    width: 100%; 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    flex-wrap: wrap;
} 

h2 { 
    font-size: 36px; 
    letter-spacing: 0.25px; 
    margin-top: 80px;
} 

.dPsBKv { 
    display: flex; 
    flex-direction: row;
} 

.hlNqBc > *  { 
    margin-left: 25px; 
    margin-right: 25px;
} 

.eazANk { 
    bottom: 22px; 
    right: 36px; 
    cursor: pointer; 
    margin-right: 10px;
} 

.bVoaZH { 
    position: absolute; 
    height: 865px; 
    right: -300px; 
    top: -180px; 
    z-index: -1; 
    width: 500px;
} 

.kepExK { 
    font-weight: bold; 
    font-size: 1.1rem; 
    text-align: left; 
    margin-top: 22px; 
    line-height: 2.4;
} 

input { 
    color: rgb(30, 40, 80);
} 

input { 
    border: 2px solid rgb(107, 111, 253); 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    background-color: white; 
    transition: all 0.3s ease 0s;
} 

.bUqSFL { 
    padding: 10px 20px; 
    font-size: 17px; 
    border-radius: 6px; 
    font-family: monospace; 
    text-align: center;
} 

/* .gfoVSV { 
    flex: 1 1 0%;
}  */

.eIewku { 
    text-align: center;
} 

@media only screen and (min-width: 1000px){ 
  .eIewku { 
    flex: 0 0 33%;
  } 
}     

.dXgdCb { 
    margin: 30px;
} 

.GWMNf { 
    border-radius: 4px; 
    padding-right: 6px; 
    width: auto;
} 

.ktNqZT { 
    font-style: normal; 
    font-weight: bold; 
    font-size: 45px; 
    line-height: 56px; 
    letter-spacing: 0.2px; 
    color: rgb(72, 77, 254); 
    margin-top: 16px; 
    margin-bottom: 16px;
} 

h3 { 
    font-size: 26px;
} 

.dgSnhV { 
    font-style: normal; 
    font-weight: bold; 
    font-size: 24px; 
    line-height: 100%; 
    margin-top: 0px; 
    color: rgb(27, 48, 102);
} 

.dYvHwr { 
    border-radius: 6px; 
    object-fit: contain;
} 

.gWvVae { 
    border: 2px solid rgb(72, 77, 254); 
    background: rgb(251, 251, 252); 
    color: rgb(72, 77, 254);
} 

.gWvVae:hover:enabled { 
    background: rgb(251, 251, 252);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-qGWtD.style-qGWtD {  
   color: transparent;  
}  
#style-PSncS.style-PSncS {  
   font-weight: bold;  
}  
#style-jNO5F.style-jNO5F {  
   color: transparent;  
}  
#style-tjS3C.style-tjS3C {  
   z-index: 2;  
}  
#style-e18Zz.style-e18Zz {  
   display: flex;  
    flex-direction: column;  
    align-items: center;  
}  
#style-r4Jx4.style-r4Jx4 {  
   margin-top: 40px;  
}  
#style-lpox9.style-lpox9 {  
   gap: 60px;  
}  
#style-IGmRe.style-IGmRe {  
   margin-top: 40px;  
}  
#style-158UP.style-158UP {  
   margin-top: 40px;  
}  
#style-9US4N.style-9US4N {  
   margin-top: 40px;  
}  
#style-mCYPs.style-mCYPs {  
   align-items: center;  
    justify-content: center;  
    flex-wrap: wrap;  
}  
#style-U1nH2.style-U1nH2 {  
   position: relative;  
    width: 320px;  
}  
#style-ETFNM.style-ETFNM {  
   color: transparent;  
}  
#style-w4kJl.style-w4kJl {  
   position: relative;  
    width: 320px;  
}  
#style-hsbwp.style-hsbwp {  
   color: transparent;  
}  
#style-rwtz1.style-rwtz1 {  
   position: relative;  
    width: 320px;  
}  
#style-Xzf7Y.style-Xzf7Y {  
   color: transparent;  
}  
#style-1vmVH.style-1vmVH {  
   color: transparent;  
}  
#style-g4Jjz.style-g4Jjz {  
   position: relative;  
    width: 320px;  
}  
#style-Zyx4C.style-Zyx4C {  
   color: transparent;  
}  
#style-h4Uc9.style-h4Uc9 {  
   position: relative;  
    width: 320px;  
}  
#style-2w9of.style-2w9of {  
   color: transparent;  
}  
#style-HZkdR.style-HZkdR {  
   position: relative;  
    width: 320px;  
}  
#style-foPXt.style-foPXt {  
   color: transparent;  
}  
#style-Le2OC.style-Le2OC {  
   cursor: pointer;  
}  
#badge-button.style-ZvdRB {  
   color: transparent;  
}  
#__next-route-announcer__.style-aJGaQ {  
   border: 0px;  
    clip: rect(0px, 0px, 0px, 0px);  
    height: 1px;  
    margin: -1px;  
    overflow: hidden;  
    padding: 0px;  
    position: absolute;  
    width: 1px;  
    white-space: nowrap;  
    overflow-wrap: normal;  
}  
#verify-api.style-SGhlK {  
   display: none;  
}  
#style-WdD3z.style-WdD3z {  
   display: none;  
}  
#style-ERdvS.style-ERdvS {  
   display: none;  
}  
#style-WNsmC.style-WNsmC {  
   display: none;  
    visibility: hidden;  
}  
#style-RBHwU.style-RBHwU {  
   border: none !important;  
    margin: 0px !important;  
    padding: 0px !important;  
    width: 1px !important;  
    min-width: 100% !important;  
    overflow: hidden !important;  
    display: block !important;  
    visibility: hidden !important;  
    position: fixed !important;  
    height: 1px !important;  
    pointer-events: none !important;  
    user-select: none !important;  
}  
#style-XiRJn.style-XiRJn {  
   border-radius: 60px;  
    height: 60px;  
    position: fixed;  
    transform: scale(1);  
    width: 60px;  
    z-index: 1049;  
}  
#snipcss-panel-container.style-CySbY {  
   right: 66px;  
    top: 425px;  
}  
#style-yxnwz.style-yxnwz {  
   touch-action: none;  
}  
#style-4wOGv.style-4wOGv {  
   touch-action: none;  
}  
#style-UgyLh.style-UgyLh {  
   top: 62px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-yDe39.style-yDe39 {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-sdsDs.style-sdsDs {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-IsKo3.style-IsKo3 {  
   top: 62px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-eooLU.style-eooLU {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-4TyS9.style-4TyS9 {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-D84px.style-D84px {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-iaTw6.style-iaTw6 {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-ikoR5.style-ikoR5 {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#snipcss-kiwi.style-DKiBo {  
   left: 1810px;  
    top: 0px;  
}  
